*{
	margin:0;

}

.margin{
	border:2px solid black;
	padding: 2px 16px 16px 16px;
	
}
.border{
	border:2px solid black;
	padding: 2px 16px 16px 16px;	
	background-color:blue
}
.padding{
	border:2px solid black;
	padding: 2px 16px 16px 16px;
	background-color:lightblue;
}
.left{
	position:relative;
}
.right{
	position:relative;
	top:-18px;
	left:384px;
}
.content{
	border:2px solid black;
	padding:10px;	
}





