*{
	margin:0;

}

.margin{
	border:2px solid black;
	padding: 2px 16px 16px 16px;
	width: 400px;
	
}
.border{
	border:2px solid black;
	padding: 2px 16px 16px 16px;	
	background-color:blue;
	width:360px;
}
.padding{
	border:2px solid black;
	padding: 2px 16px 16px 16px;
	background-color:lightblue;
	width:320px;
}
.content{
	border:2px solid black;
	padding:10px;
	width:300px;
}





